{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3"></div>
<h1>Product Category</h1>


<div class="card text-bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">Product Category</div>
    <div class="card-body">
      <p class="card-title"><strong>Category ID</strong> {{category_record.category_id}} </p>
      <p class="card-text"><strong>Category Name: </strong>{{category_record.category_name}}</p>
      <p class="card-text"><strong>Category Type: </strong>{{category_record.category_type}}</p>
      <p class="card-text"><strong>Date Created: </strong>{{category_record.creation_date}}</p>
    </div>
</div>

<a href=" {% url 'home' %}" class="btn btn-secondary">Back</a>
<a href=" {% url 'update_category_record' category_record.category_id %}" class="btn btn-primary">Update</a>
<a href=" {% url 'delete_category_record' category_record.category_id %}" class="btn btn-danger">Delete</a>





{% endblock %}