{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3"></div>
<h1>Orders</h1>


<div class="card text-bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">Order Record</div>
    <div class="card-body">
      <p class="card-title"><strong>Order ID</strong> {{orders_record.order_id}} </p>
      <p class="card-text"><strong>Quantity: </strong>{{orders_record.quantity}}</p>
      <p class="card-text"><strong>Purchase Date: </strong>{{orders_record.purchase_date}}</p>
      <p class="card-text"><strong>Delivery Date: </strong>{{orders_record.delivery_date}}</p>
      <p class="card-title"><strong>Postage Fee: </strong> {{orders_record.postage_fee}} </p>
      <p class="card-text"><strong>Dealer: </strong>{{orders_record.dealer}}</p>
    </div>
</div>

<a href=" {% url 'orders' %}" class="btn btn-secondary">Back</a>


{% endblock %}
